html {
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}

.main h1 {
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 300;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    margin: 20px;
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

.link a:hover {
    color: orange;
}