html {
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Work Sans', sans-serif;
}

.main {
    display: grid;
}

.main h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 300;
}

.main a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

.main a:hover {
    letter-spacing: 1.5px ;
    color: orange;
}

.main p { 
    margin: 30px 430px 30px 430px;
    text-align: center;
}

.main img {
    height: auto;
    width: 120px;
    margin: 20px;
}

.main h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}

#spotify img, #youtube img {
    height: 30px;
    width: auto;
    padding: 5px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}